@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

body {
	line-height: 1;
	font-family: "JetBrains Mono";
	background-color: #DBE7F6;
	
}

ol,
ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

::placeholder {
	font-family: "JetBrains Mono";
	font-weight: 500;
}

.cabecalho {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 8px;
	margin-left: 75px;
}

.logo {
	height: 250px;
	width: 250px;
}

.conjunto-menu {
	display: flex;
	text-align: center;
	justify-content: space-around;
	align-items: center;
	gap: 50px;
	margin-right: 111px;
}

.menu-cabecalho {
	color: #2F89FC;
	font-size: 32px;
	font-weight: bold;
	text-decoration: none;
	margin-left: 50px;
}

.entrar {
	padding: 8px 36px;
	border-radius: 40px;
	background-color: rgba(47, 137, 252, 0.4);
}

.titulo {
	font-size: 64px;
	color: #116DE2;
	font-weight: 800;
	text-align: center;
}

.imagem-inicio {
	margin-top: 145px;
	height: 434px;
}

.menu-inicio {
	display: flex;
	justify-content: center;
	align-items: center;
}

.nuvem-texto {
	text-align: center;
	position: relative;
	width: 800px;
	height: auto;
	align-items: center;
	display: flex;

}

.nuvem-inicio {
	width: 100%;
	display: block;
}

.texto-inicio {
	font-size: 32px;
	font-weight: 400;
	width: 520px;
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-38%, -82%);
	text-align: center;
}

.nuvem-teste{
	text-align: center;
	position: relative;
	width: 220px;
	height: auto;
}

.texto-teste {
	font-size: 32px;
	font-weight: bold;
	position: absolute;
	text-align: center;
	margin-left: 30px;
}

.nuvenzinha{
	display: flex;
	align-items: center;
	text-align: center;
	margin-top: 917px;
	
}